<h2>Dishes in {{ category_name|default:cuisine_name }}</h2>

{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    <div class="dishes-list">
        {% for dish in dishes %}
            <div class="dish-card">
                <h3>{{ dish.dish_name }}</h3>
                <p>Category: {{ dish.category|join:", " }}</p>
                <p>Cuisine: {{ dish.cuisine }}</p>  <!-- Change here -->
                <p>Ingredients: {{ dish.ingredients }}</p>
                <p>Procedure: {{ dish.procedure }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
